@using AlutechShopDiploma.Models.Entities;

@model IEnumerable<Good>
@{
    ViewBag.Title = "Home Page";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" style="margin-left: 45px;">
        @TempData["message"]
    </div>
}
@if (TempData["mistake"] != null)
{
    <div class="alert alert-danger" style="margin-left: 45px;">
        @TempData["mistake"]
    </div>
}
@if (TempData["succsess"] != null)
{
    <div class="alert alert-success" style="margin-left: 45px;">
        @TempData["succsess"]
    </div>
}
<div class="jumbotron">
    <h1>Добро пожаловать в наш интернет-магазин Alutech Shop</h1>
    <p class="lead">Мы заботимся о каждом клиенте, кто заходит в наш интернет-магазин. Чтобы ознакомится с нами поближе, кликните по кнопке!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Узнать более &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Новости и акции</h2>
        <p>
            Прочитать новости и действующие акции вы можете здесь.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Узнать о новостях &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ассортимент продукции</h2>
        <p>Хотите узнать об ассортименте нашей продукции? Тогда скорее нажимайте на кнопку, чтобы с ним ознакомиться.</p>
        <p><a class="btn btn-default" href="/Good/List">Ассоритмент продукции &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Вопросы от клиентов</h2>
        <p>У вас есть какой-то вопрос? Задайте его нам через специальную форму и мы обязательно вам на него ответим.</p>
        <p><a class="btn btn-default" href="#message">Задать вопрос &raquo;</a></p>
    </div>
</div>

<h1>
    Специальные предложения
</h1>
<div>
    @Html.Partial("GoodsGallery", Model)
</div>

<a name="message">

</a>
<div>
    @Html.Action("Create", "UserMessage")
</div>