@using AlutechShopDiploma.Models.Entities;

@model IEnumerable<Good>
@{
    ViewBag.Title = "Home Page";
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" style="margin-left: 45px;">
        @TempData["message"]
    </div>
}
@if (TempData["mistake"] != null)
{
    <div class="alert alert-danger" style="margin-left: 45px;">
        @TempData["mistake"]
    </div>
}
@if (TempData["succsess"] != null)
{
    <div class="alert alert-success" style="margin-left: 45px;">
        @TempData["succsess"]
    </div>
}
<div class="jumbotron">
    <h1>@AlutechShopDiploma.Resources.Views.Home.Index.WelcomeLabel1</h1>
    <p class="lead">@AlutechShopDiploma.Resources.Views.Home.Index.WelcomeLabel2</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">@AlutechShopDiploma.Resources.Views.Home.Index.WelcomeLabel3 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@AlutechShopDiploma.Resources.Views.Home.Index.NewsAndActionsLabel1</h2>
        <p>
            @AlutechShopDiploma.Resources.Views.Home.Index.NewsAndActionsLabel2
        </p>
        <p><a class="btn btn-default" href="/Home/About">@AlutechShopDiploma.Resources.Views.Home.Index.NewsAndActionsLabel3 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@AlutechShopDiploma.Resources.Views.Home.Index.ProductAssort1</h2>
        <p>@AlutechShopDiploma.Resources.Views.Home.Index.ProductAssort2</p>
        <p><a class="btn btn-default" href="/Good/List">@AlutechShopDiploma.Resources.Views.Home.Index.ProductAssort3 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@AlutechShopDiploma.Resources.Views.Home.Index.QuestLabel1</h2>
        <p>@AlutechShopDiploma.Resources.Views.Home.Index.QuestLabel2</p>
        <p><a class="btn btn-default" href="#message">@AlutechShopDiploma.Resources.Views.Home.Index.QuestLabel3 &raquo;</a></p>
    </div>
</div>

<h1>
    @AlutechShopDiploma.Resources.Views.Home.Index.SpecialOfferLabel
</h1>
<div>
    @Html.Partial("GoodsGallery", Model)
</div>

<a name="message">

</a>
<div>
    @Html.Action("Create", "UserMessage")
</div>