@using AlutechShopDiploma.Models.Entities
@using AlutechShopDiploma.Services

@model IEnumerable<Mark>

<head>
    <link href="~/Content/css/table_info.css" rel="stylesheet" />
</head>

@{
    <table class="table_info">
        <caption>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.MyMarks</caption>
        <tr>
            <th><center>ID</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Image</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Name</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Mark</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.EditMark</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.DeleteMark</center></th>
        </tr>

        @foreach (var item in Model)
        {
            GoodWorker goodWorker = new GoodWorker(item.GoodID);
            string imageUrl = goodWorker.GetGoodImage();
            string name = goodWorker.GetGoodName();
            <tr>
                <td><center>@item.MarkID</center></td>
                <td><center><img style="width:40%" src="@Url.Content(imageUrl)" /></center></td>
                <td><center><a href="~/GoodItem/CartItem?goodId=@item.GoodID">@name</a></center></td>
                <td><center>@item.UserMark</center></td>
                <td>
                    <center>
                    @using (Html.BeginForm("Edit", "Mark", new { markID = item.MarkID }))
                    {
                        <p>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.ChangeTo</p>
                        @Html.Editor("userMark", new { htmlAttributes = new { @class = "", @type = "number", @value = "1", @min = "1", @max = "10" } })
                        <p>

                        </p>
                        <input class="btn btn-warning" type="submit" value="@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Edit" />
                    }
                    </center>
                </td>
                <td>
                    <form action="/Mark/Delete?markID=@item.MarkID" method="post">
                        <input class="btn btn-success" type="submit" value="@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Delete "/>
                    </form>
                </td>
            </tr>
        }
    </table>
}