@using AlutechShopDiploma.Models.Entities
@using AlutechShopDiploma.Services

@model IEnumerable<Mark>

<head>
    <link href="~/Content/css/table_info.css" rel="stylesheet" />
</head>

@{
    <table class="table_info">
        <caption>Мои оценки</caption>
        <tr>
            <th><center>ID</center></th>
            <th><center>Изображение товара</center></th>
            <th><center>Название товара</center></th>
            <th><center>Оценка</center></th>
            <th><center>Изменить оценку</center></th>
            <th><center>Удалить оценку</center></th>
        </tr>

        @foreach (var item in Model)
        {
            GoodWorker goodWorker = new GoodWorker(item.GoodID);
            string imageUrl = goodWorker.GetGoodImage();
            string name = goodWorker.GetGoodName();
            <tr>
                <td><center>@item.MarkID</center></td>
                <td><center><img style="width:40%" src="@Url.Content(imageUrl)" /></center></td>
                <td><center><a href="~/GoodItem/CartItem?goodId=@item.GoodID">@name</a></center></td>
                <td><center>@item.UserMark</center></td>
                <td>
                    <center>
                    @using (Html.BeginForm("Edit", "Mark", new { markID = item.MarkID }))
                    {
                        <p>Изменить на:</p>
                        @Html.Editor("userMark", new { htmlAttributes = new { @class = "", @type = "number", @value = "1", @min = "1", @max = "10" } })
                        <p>

                        </p>
                        <input class="btn btn-warning" type="submit" value="Изменить" />
                    }
                    </center>
                </td>
                <td>
                    <form action="/Mark/Delete?markID=@item.MarkID" method="post">
                        <input class="btn btn-success" type="submit" value="Удалить "/>
                    </form>
                </td>
            </tr>
        }
    </table>
}