@using AlutechShopDiploma.Models.Entities
@using AlutechShopDiploma.Services
@using AlutechShopDiploma.Models

@model IEnumerable<Order>

<head>
    <link href="~/Content/css/table_info.css" rel="stylesheet" />
</head>

@{
    <table class="table_info">
        <caption>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.MyOrders</caption>
        <tr>
            <th><center>ID</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.GoodsInOrdersLabel</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.TotalSum</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Completed</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Payed</center></th>
            <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.DateTime</center></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><center>@item.OrderID</center></td>
                <td><center>
                    @{
                        ApplicationDbContext context = new ApplicationDbContext();
                        IEnumerable<OrderItem> orderItems = context.OrderItems.Where(x => x.OrderID == item.OrderID);

                        <table>
                                <tr>
                                    <th><center>ID</center></th>
                                    <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Image</center></th>
                                    <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Name</center></th>
                                    <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Price</center></th>
                                    <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Ammount</center></th>
                                    <th><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.TotalPrice</center></th>
                                </tr>

                        @foreach(var orderItem in orderItems)
                        {
                            GoodWorker goodWorker = new GoodWorker(orderItem.GoodID);
                            string imageUrl = goodWorker.GetGoodImage();
                            string name = goodWorker.GetGoodName();
                            double price = goodWorker.GetGoodCost();
                            double itemPrice = price * orderItem.Ammount;
                           

                                <tr>
                                    <td><center>@orderItem.OrderItemID</center></td>
                                    <td><center><img style="width:30%" src="@Url.Content(imageUrl)" /></center></td>
                                    <td><center><a href="~/GoodItem/CartItem?goodId=@orderItem.GoodID">@name</a></center></td>
                                    <td><center>@price @AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Currency</center></td>
                                    <td><center>@orderItem.Ammount</center></td>
                                    <td><center>@itemPrice @AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Currency</center></td>
                                </tr>
                            
                        }
                    </table>
                    }
                </center>
                </td>
                <td>@item.TotalSum @AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Currency</td>
                @{
                    if (item.IsFinished)
                    {
                        <td><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Yes</center></td>
                    }
                    else
                    {
                        <td><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.No</center></td>
                    }
                }
                @{
                    if (item.IsOrdered)
                    {
                        <td><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.Yes</center></td>
                    }
                    else
                    {
                        <td><center>@AlutechShopDiploma.Resources.Views.UserInfo.UserInfo.No</center></td>
                    }
                }
                <td><center>@item.DateTime.Day.@item.DateTime.Month.@item.DateTime.Year  @item.DateTime.Hour:@item.DateTime.Minute:@item.DateTime.Second</center></td>
            </tr>
        }
    </table>
}
