@using AlutechShopDiploma.Models.Entities
@using AlutechShopDiploma.Services
@using AlutechShopDiploma.Models

@model AlutechShopDiploma.Models.IndexViewModel

<head>
    <link href="~/Content/css/table_info.css" rel="stylesheet" />
</head>

@{
    UsersWorker usersWorker = new UsersWorker(HttpContext.Current.User.Identity.Name);

}
<body>
    <a name="statistics">

    </a>
    @{
        <table class="table_info">
            <caption>Моя статистика</caption>
            <tr>
                <th><center>Показатель</center></th>
                <th><center>Значение</center></th>
            </tr>

            <tr>
                <th colspan="2"><center>Общая информация</center></th>
            </tr>
            <tr>
                <td><center>Имя пользователя</center></td>
                <td><center>@HttpContext.Current.User.Identity.Name</center></td>
            </tr>
            <tr>
                @if (Model.HasPassword)
                {
                    <td><center>Пароль</center></td>
                    <td><center>@Html.ActionLink("Смена пароля", "ChangePassword", "Manage")</center></td>
                }
                else
                {
                    <td><center>Пароль</center></td>
                    <td><center>@Html.ActionLink("Создать", "SetPassword", "Manage")</center></td>
                }
            </tr>
            <tr>
                <td><center>Бонусный баланс, р.</center></td>
                <td><center>@usersWorker.GetUserBalance()</center></td>
            </tr>
            <tr>
                <td><center>Статус аккаунта</center></td>
                @{
                    if (usersWorker.GetUserStatus())
                    {
                        <td><center>Заблокирован. Подать заявку на разблокировку можно <a href="#">здесь</a></center></td>
                    }
                    else
                    {
                        <td><center>Не заблокирован</center></td>
                    }
                }
            </tr>
            <tr>
                <th colspan="2"><center>Активность на сайте</center></th>
            </tr>
            <tr>
                <td><center>Отправлено сообщений, шт.</center></td>
                <td><center>@usersWorker.GetMessagesAmmount() </center></td>
            </tr>

            <tr>
                <td><center>Написано отзывов, шт.</center></td>
                <td><center>@usersWorker.GetCommentsCount() </center></td>
            </tr>

            <tr>
                <td><center>Оценено товаров, шт.</center></td>
                <td><center>@usersWorker.GetMarksAmmount() </center></td>
            </tr>

            <tr>
                <td><center>Средняя оценка</center></td>
                <td><center>@usersWorker.GetAvgMark() </center></td>
            </tr>

            <tr>
                <th colspan="2"><center>Информация о покупках</center></th>
            </tr>

            <tr>
                <td><center>Количество заказов всего, шт.</center></td>
                <td><center>@usersWorker.GetOrdersCount() </center></td>
            </tr>

            <tr>
                <td><center>Количество оплаченных заказов, шт.</center></td>
                <td><center>@usersWorker.GetOrderedOrdersCount() </center></td>
            </tr>

            <tr>
                <td><center>Количество неоплаченных заказов, шт.</center></td>
                <td><center>@usersWorker.GetNotOrderedOrdersCount() </center></td>
            </tr>

            <tr>
                <td><center>Куплено всего товаров, шт.</center></td>
                <td><center>@usersWorker.GetTotalGoodsAmmountInAllOrders() </center></td>
            </tr>

            <tr>
                <td><center>Куплено всего уникальных товаров, шт.</center></td>
                <td><center>@usersWorker.GetTotalUniqueGoodsAmmountInAllOrders() </center></td>
            </tr>

            <tr>
                <td><center>Потраченная сумма на все заказы, р.</center></td>
                <td><center style="color: blue;font-weight: bold;">@usersWorker.GetTotalOrdersSum() </center></td>
            </tr>

            <tr>
                <td><center>Всего начислено бонусов, р.</center></td>
                <td><center style="color: green;font-weight: bold;">@usersWorker.GetTotalBonusesAdded() </center></td>
            </tr>
            <tr>
                <td><center>Всего потрачено бонусов, р.</center></td>
                <td><center style="color: red;font-weight: bold;">@usersWorker.GetTotalBonusesSpent() </center></td>
            </tr>

        </table>
    }
</body>


