@model AlutechShopDiploma.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<head>
    <link href="~/Content/css/authorization_form.css" rel="stylesheet"/>
</head>
<h4>@AlutechShopDiploma.Resources.Views.Account._ExternalLoginsListPartial.Caption</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                @AlutechShopDiploma.Resources.Views.Account._ExternalLoginsListPartial.ExternalServices
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="google btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@AlutechShopDiploma.Resources.Views.Account._ExternalLoginsListPartial.EnterWithHelp @p.Caption"><i class="fa fa-google fa-fw"></i> Использовать Google+</button>
                    }
                </p>
            </div>
        }
    }
}
