@model AlutechShopDiploma.Models.Entities.UserMessage
<head>
    <link href="~/Content/css/contactForm.css" rel="stylesheet" />
</head>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<body>
    <div>
        <form action="/UserMessage/Create" method="post" class="decor">
            <div class="circle"></div>
            <div class="form-inner">
                <h3>@AlutechShopDiploma.Resources.Views.UserMessage.Create.WriteUs</h3>
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @placeholder = AlutechShopDiploma.Resources.Views.UserMessage.Create.Yourname } })
                @Html.EditorFor(model => model.ContactMail, new { htmlAttributes = new { @placeholder = AlutechShopDiploma.Resources.Views.UserMessage.Create.Youremail } })
                @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @placeholder = AlutechShopDiploma.Resources.Views.UserMessage.Create.Yourphone } })
                @Html.EditorFor(model => model.MessageTopic, new { htmlAttributes = new { @placeholder = AlutechShopDiploma.Resources.Views.UserMessage.Create.Messagetopic } })
                @Html.TextAreaFor(model => model.MessageText, new { @placeholder = AlutechShopDiploma.Resources.Views.UserMessage.Create.Message })
                <input type="submit" class="" value="@AlutechShopDiploma.Resources.Views.UserMessage.Create.Send">
            </div>

        </form>
        <p>

        </p>
        <p>

        </p>
        @if (TempData["mistake"] != null)
        {
            <div class="alert alert-danger">
                @TempData["mistake"]
            </div>
        }
        @if (TempData["succsess"] != null)
        {
            <div class="alert alert-success">
                @TempData["succsess"]
            </div>
        }
    </div>
</body>

