@model AlutechShopDiploma.Models.Entities.ShippingDetail
@using AlutechShopDiploma.Services

<head>
    <link href="~/Content/css/orderForm.css" rel="stylesheet"/>
</head>
@{ 
    /*OrderWorker worker = new OrderWorker();
    @Model.OrderId = worker.DefineOrderID();

    UsersWorker usersWorker = new UsersWorker(HttpContext.Current.User.Identity.Name);
    @Model.UserId = usersWorker.GetUserID();*/
}
<body>
    @{using (Html.BeginForm("FinishOrder", "Purchase", FormMethod.Post, new { @style = "margin-left: 15%;" }))
        {
        <label><i class="fa fa-navicon"></i> Ваше имя: </label>
        @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @type = "text", id = "fname", name = "firstname", placeholder = "Ваше имя", style = "margin-left: 11%;" } })
        <p>

        </p>
        <label><i class="fa fa-phone"></i> Номер телефона: </label>
        @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @type = "text", id = "phone", name = "phone", placeholder = "Ваш номер телефона", style = "margin-left: 11%;" } })
        <p>

        </p>
        <label><i class="fa fa-envelope"></i> Электронная почта: </label>
        @Html.EditorFor(model => model.ContactMail, new { htmlAttributes = new { @type = "text", id = "mail", name = "email", placeholder = "Ваша почта", style = "margin-left: 11%;" } })
        <p>

        </p>
        <label><i class="fa fa-address-book"></i> Адрес доставки:</label>
        @Html.EditorFor(model => model.DeliveryAdress, new { htmlAttributes = new { @type = "text", id = "adress", name = "delivery_adress", placeholder = "Ваш адрес доставки", style = "margin-left: 11%;" } })
        <p>

        </p>
        <label><i class="fa fa-file-text"></i> Комментарий к заказу:</label>
        @Html.TextAreaFor(model => model.UserMessage, new { @type = "text", id = "adress", name = "delivery_adress", placeholder = "Ваш комментарий", @style = "margin-left: 11%;" })
        <input style="margin-left:31%" type="submit" value="Оформить заказ"/>
            }
        }
</body>