
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta ="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" / rel="stylesheet">
    <link href="~/Content/css/menu.css" / rel="stylesheet">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <img src="~/Content/preview/shop_preview.jpg" style="height: 24%;width: 100%;margin-top: -4%;"/>
    <header style="z-index: 2;position: sticky;">
        <nav class="dws-menu" style="margin-top: -3.31%;">
            <ul>
                <li><a href="/Home/Index"><i class="fa fa-home"></i>Главная</a></li>
                @if (Request.IsAuthenticated)
                {
                    <li>
                        <a href="/Good/List"><i class="fa fa-shopping-cart"></i>Продукция</a>
                        <ul>
                            <li>
                                <a href="/Good/List?category=GatesAutomation">Автоматика для ворот</a>
                                <ul>
                                    <li><a href="/Good/List?category=GatesAutomation&subcategory=ComunelloAccessories">Comunello Аксесуары</a></li>
                                    <li><a href="/Good/List?category=GatesAutomation&subcategory=ComunelloDriveUnits ">Comunello Приводы</a></li>
                                    <li><a href="/Good/List?category=GatesAutomation&subcategory=GarageGateOperatorAnMotors ">Приводы для гаражных ворот</a></li>
                                    <li><a href="/Good/List?category=GatesAutomation&subcategory=RecoilingGateOperatorAnMotors ">Приводы для откатных ворот</a></li>
                                    <li><a href="/Good/List?category=GatesAutomation&subcategory=AlutechBarriers ">Шлагбаумы Alutech</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/Good/List?category=EntranceGates">Въездные ворота (комплектация)</a>
                                <ul>
                                    <li><a href="/Good/List?category=EntranceGates&subcategory=AdditionalComplectations">Дополнительн. комплектация</a></li>
                                    <li><a href="/Good/List?category=EntranceGates&subcategory=BusProfiles">Профили шины стальные</a></li>
                                    <li><a href="/Good/List?category=EntranceGates&subcategory=RollerAndSteelComplects">Комплектующие стальные</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/Good/List?category=SectionalGates">Секционные ворота (комплектация)</a>
                                <ul>
                                    <li><a href="/Good/List?category=SectionalGates&subcategory=InsertAndSeals ">Вставки и уплотнения</a></li>
                                    <li><a href="/Good/List?category=SectionalGates&subcategory=RollerAndRings ">Втулки, ригеля</a></li>
                                    <li><a href="/Good/List?category=SectionalGates&subcategory=Brackets">Кронштейны</a></li>
                                    <li><a href="/Good/List?category=SectionalGates&subcategory=Clutches">Муфты</a></li>
                                    <li><a href="/Good/List?category=SectionalGates&subcategory=Loops">Петли</a></li>
                                    <li><a href="/Good/List?category=SectionalGates&subcategory=RollerAndRings ">Ролики и дистанцион. кольца</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }
                <li><a href="#"><i class="fa fa-th-list"></i>Новости и акции</a></li>
                <li><a href="#"><i class="fa fa-envelope-open"></i>Контакты</a></li>
                <li>
                    <a href="#"><i class="fa fa-language"></i>Смена языка</a>
                    <ul>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Русский</a></li>
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {

                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Здравствуйте " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        <li>

                        </li>
                    </ul>
                }
            </ul>
        </nav>
    </header>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
