@model AlutechShopDiploma.Models.Entities.Good
@using AlutechShopDiploma.Services
@using AlutechShopDiploma.SQL


@{  
    int goodID = AlutechShopDiploma.Controllers.GoodItemController.goodID;
    GoodCharacteristicsGetter getter = new GoodCharacteristicsGetter();
    Dictionary<string, string> characteristics = getter.GetGoodCharacteristics(Model.GoodID);

    SqlWorker sqlWorker = new SqlWorker("Data Source=(LocalDb)\\MSSQLLocalDB;Database=aspnet-AlutechShopDiploma-20210330115616;Integrated Security=True");

    string url = sqlWorker.SelectDataFromDB("SELECT Url from ImageContainers WHERE GoodID = " + Model.GoodID);
    string tableNumb = sqlWorker.SelectDataFromDB("SELECT TableID FROM Goods WHERE GoodID = " + Model.GoodID);
    WarehouseWorker warehouseWorker = new WarehouseWorker();
    int goodAmmount = warehouseWorker.GetProductAmmount(Model.GoodID);
    string discountLabel = sqlWorker.SelectDataFromDB("SELECT DiscountAmmount from Discounts WHERE GoodID = " + Model.GoodID);
    double discount = 0;
    double newPrice = 0;
    if (discountLabel != "")
    {
        discount = Convert.ToDouble(discountLabel);
        Model.Price = Math.Round(Model.Price - Model.Price * (discount / 100), 2);
    }

    List<string> goodsList = sqlWorker.SelectDataFromDBMult("SELECT GoodID FROM Goods WHERE TableID = " + tableNumb);
    string isBanned = sqlWorker.SelectDataFromDB("SELECT isBanned from AspNetUsers WHERE UserName = '" + HttpContext.Current.User.Identity.Name + "'");
}
<head>
    <link href="~/Content/css/characteristics_table.css" rel="stylesheet" />
    <link href="~/Content/css/tabstyles.css" rel="stylesheet" />
    <link href="~/Content/css/comparison_table.css" rel="stylesheet" />
</head>

<body>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success" style="margin-left: 45px;">
            @TempData["message"]
        </div>
    }
    @if (TempData["mistake"] != null)
    {
        <div class="alert alert-danger" style="margin-left: 45px;">
            @TempData["mistake"]
        </div>
    }
    @if (TempData["succsess"] != null)
    {
        <div class="alert alert-success" style="margin-left: 45px;">
            @TempData["succsess"]
        </div>
    }

    <p>

    </p>

    <div class="col-xs-10" style="width:102%">
        <h1 style="display:inline-block">@Model.Name</h1>
        <p>
            <img src="@Url.Content(url)" style="width: 40%" />
        </p>

        <div style="position:absolute;right:0px;left:615px;top:111px;word-break:break-all;overflow:hidden">
            @{
                if (goodAmmount > 0)
                {
                    @Html.Action("Create", "Purchase")
                }
                else
                {
                    <div class="alert alert-warning">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.NoGood</div>
                }
            }

        </div>
    </div>
    <div class="product-item well" style="width:105%">
        <table class="table1">
            <caption class="caption1">
                @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.CommonChar
            </caption>
            <tr class="tr1">
                <th class="th1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.CharLabel</th>
                <th class="th1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ValueLabel</th>
            </tr>
            <tr class="tr1">
                <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.PriceLabel</td>
                @{
                    if (discountLabel != "")
                    {
                        GoodWorker goodWorker = new GoodWorker(Model.GoodID);
                        newPrice = goodWorker.CalculateGoodPrice();
                                <td class="td1"><s>@Model.Price @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.CurrencyLabel</s> @newPrice @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.CurrencyLabel</td>
                    }
                    else
                    {
            <td class="td1">@Model.Price @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.CurrencyLabel</td>
                    }
                }

            </tr>
            <tr class="tr1">
                <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.DiscAvailableLabel</td>
                @{
                    if (discountLabel != "")
                    {
                        <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.Yes</td>
                    }
                    else
                    {
                        <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.No</td>
                    }
                }
            </tr>
            <tr class="tr1">
                <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.DiscountLabel</td>
                @{
                    if (discountLabel != "")
                    {
                        <td class="td1">@discountLabel %</td>
                    }
                    else
                    {
                        <td class="td1">0 %</td>
                    }
                }
            </tr>
            <tr class="tr1">
                <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.RatingLabel</td>
                <td class="td1">@Model.Rating / 10.0</td>
            </tr>
            <tr class="tr1">
                <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ViewsLabel</td>
                <td class="td1">@Model.Views</td>
            </tr>
            <tr class="tr1">
                <td class="td1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.GoodAmmountLabel</td>
                <td class="td1">@goodAmmount шт.</td>
            </tr>
        </table>
    </div>

    <div class="tab" style="width:105%">
        <button class="tablinks" onclick="openCity(event, 'London')">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.TechCharLabel</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.GoodDescrLabel</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ReviewsLabel</button>
        <button class="tablinks" onclick="openCity(event, 'Moscow')">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.MarkGoodLabel</button>
        <button class="tablinks" onclick="openCity(event, 'Minsk')">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.SimilarGoodsLabel</button>
    </div>

    <!-- Tab content -->
    <div id="London" class="tabcontent" style="width:105%">
        <div class="product-item well">
            <table class="table1">
                <caption class="caption1">
                    @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.TechCharLabel
                </caption>
                <tr class="tr1">
                    <th class="th1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.CharLabel</th>
                    <th class="th1">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ValueLabel</th>
                </tr>

                @foreach (var element in characteristics)
                {
                    <tr class="tr1">
                        <td class="td1">@element.Key</td>
                        <td class="td1">@element.Value</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div id="Paris" class="tabcontent" style="width:105%">
        @Model.Description
    </div>

    <div id="Tokyo" class="tabcontent" style="width:105%">
        @{
            if (isBanned == "False")
            {
                @Html.Action("Create", "Comment")
            }
            else
            {
        <div class="alert alert-warning" style="margin-left: 45px;">
            @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.BlockInfo1
            <a href="/Home/Index#message">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ActionLink</a>. @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.BlockInfo2 <a href="/Manage#statistics">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ActionLink</a>. @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.BlockInfo3.
        </div>
            }
            <p></p>
            @Html.Action("List", "Comment")
        }
    </div>

    <div id="Minsk" class="tabcontent" style="width:105%">
        @{
            if (goodsList.Count == 1)
            {
                <h3>@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.NoSimGoodLabel</h3>
            }
            else
            {
                <table class="table_blur">
                    <tr>
                        <th>@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.CharLabel</th>
                        @{
                            foreach (var element in characteristics)
                            {
                                <th>@element.Key</th>
                            }
                    <th>@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.PriceLabel</th>
                    <th>@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.RatingLabel</th>
                    <th>@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ViewsLabel</th>
                        }
                    </tr>
                    @{
                        List<string> goods = sqlWorker.SelectDataFromDBMult("SELECT GoodID from Goods WHERE TableID = " + tableNumb);

                        foreach (var good in goods)
                        {
                            string goodName = sqlWorker.SelectDataFromDB("SELECT Name from Goods WHERE GoodID = " + good);
                            int gID = Convert.ToInt32(good);
                            characteristics = getter.GetGoodCharacteristics(gID);

                            <tr>
                                <td><a href="~/GoodItem/CartItem?goodId=@good">@goodName</a></td>
                                @{
                                    foreach (var characteristic in characteristics)
                                    {
                                        <td>@characteristic.Value</td>
                                    }
                                }
                                <td>@sqlWorker.SelectDataFromDB("SELECT Price FROM Goods Where GoodID=" + good) r.</td>
                                <td>@sqlWorker.SelectDataFromDB("SELECT Rating FROM Goods Where GoodID=" + good) / 10.0</td>
                                <td>@sqlWorker.SelectDataFromDB("SELECT Views FROM Goods Where GoodID=" + good)</td>
                            </tr>
                        }
                    }
                </table>
            }
        }
    </div>

    <div id="Moscow" class="tabcontent" style="width:105%">
        @{
            if (isBanned == "False")
            {
                MarksWorker marksWorker = new MarksWorker(Model.GoodID);
                int mrkId = 0;

                if (marksWorker.IsAvailableToPutMark(HttpContext.Current.User.Identity.Name))
                {
                    @Html.Action("Create", "Mark")
                }
                else
                {
                    mrkId = marksWorker.GetMarkId(HttpContext.Current.User.Identity.Name);
        <div class="alert alert-warning">
            @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ExistMarkLabel @Html.ActionLink("сюда", "Delete", "Mark", new { markId = mrkId }, null).
        </div>
                }
            }
            else
            {
    <div class="alert alert-warning" style="margin-left: 45px;">
        @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.BlockInfo1
        <a href="/Home/Index#message">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ActionLink</a>. @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.BlockInfo2 <a href="/Manage#statistics">@AlutechShopDiploma.Resources.Views.GoodItem.CartItem.ActionLink</a>. @AlutechShopDiploma.Resources.Views.GoodItem.CartItem.BlockInfo3.
    </div>
            }
        }

    </div>


</body>

<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    } 
</script>